
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
        font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
}

img{
    width: 80px;
    height: 80px;
    padding: 5px;
}

form{
    width: 380px;
    background-color:honeydew;
    position: relative;
    left: 80px;
}

input{
    border-radius: 5px;
    padding: 5px;
    display: block;
    }

div{
    padding: 5px;
    }

select{
    border-radius: 5px;
    padding: 5px;
}

textarea{
    border-radius: 5px;
    padding: 5px;
}

button{
    background-color: lightgreen;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}