@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.banner{

    background-image:url("bg.png");

    width: 1280px;
    height: 400px;
    padding: 65px 12px;
    box-sizing: border-box;

    text-align: center;

}

button {
    width: 200px;
	height:40px;
    padding: 2px;
    margin:10px;
    box-sizing: border-box;
    
	background-color:whitesmoke;
	border-radius: 15px;
    border-color: whitesmoke;
    font-size: 20px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
    margin:10px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color:cornsilk;
    font-size: 60px; 
}

h2{
    margin:10px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    color: cornsilk;
    font-size: 30px;
    font-style: italic;
}