p {

    color:cornflowerblue;
    font-size: 25px;
}

.texto-principal{

    color:orange
}

#tituloPrincipal{

    color:palevioletred
}

body {

    background-color: peachpuff;
}